<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <title>Page</title> 
  </head>
  <body>
    <h1>Super WEB Page</h1>
    
    <div class="row p-2 row-cols-md-2">
    <div class="col ">
      <div class="card-fluid ">
        <img src="static/ab.jpg" class=" card-img-top img-thumbnail rounded mx-auto d-block" alt="foto hay"/>
      </div>
    </div>
    <div class="col ">
      <div class="card-fluid ">

        <div class="card-body"  >
          <h5 class="card-title" style="font-size: 1.7rem">Good day!</h5>
<div style="font-size: 1.2rem">
          <li >
            In the beginning, the idea was to create a personal web page for myself to show potential employers, but during the creation process I decided to create this page for everyone. This page can help everyone to create their CV and think about adding to it as well as their goals.
          </li>
          <li >
            This page could eventually replace the classic CV in paper form and would be a kind of digital CV interpretation.
          </li>
          <li>
            This web page shows your CV with a broader overview of each of its positions. This is only the first version and there is still a lot to improve.
          </li>
          <li>
            In the upper right corner there is an option to register to start creating your CV.
If you are an employer and you want to view a potential employee's CV, request a code from the potential employee that will allow you to view his personal CV. Copy this code below into the text window and click view.
          </li>

        </div>
        </div>
        
      </div>
    </div>

<button type="button" class="btn btn-primary">Primary</button>
  </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
  </body>
</html> 